<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
</head>
<body>
<div th:include="layout :: navigationPanel"></div>
<div class="form p-4 ">
    <div class="container col-sm-4 shadow p-3 mt-3 mb-5 bg-white rounded">
        <div class="text-center">
            <h1>Edytuj dane</h1>
        </div>
    <form class="justify-content-center" th:action="@{/editUser}" method="POST" th:object="${userData}">
        <input type="hidden" th:field="*{login}" th:errorClass="error" placeholder="Login"/>

        <label for="NameFormControlInput" class="form-label">Imię</label>
        <input class="form-control" type="text" th:field="*{name}" th:errorClass="error" id="NameFormControlInput"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Błąd </span><br>

        <label for="SurnameFormControlInput" class="form-label">Nazwisko</label>
        <input class="form-control" type="text" th:field="*{surname}" th:errorClass="error" id="SurnameFormControlInput"/>
        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Błąd </span><br>

        <label for="PasswordFormControlInput" class="form-label">Hasło</label>
        <input class="form-control" type="password" th:field="*{password}" th:errorClass="error" id="PasswordFormControlInput"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Błąd </span><br>
        <button class="btn btn-dark" type="submit">Zapisz</button>
    </form>
    </div>
</div>
<div th:include="layout :: footer"></div>
</body>
</html>